@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root{
    --cor-primaria : #606C5D;
    --cor-secundaria : #FFF4F4;
    --cor-terciaria : #F7E6C4;
    --cor-primaria-hover: #F1C376;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho{
    padding: 2% 0 0 15%;
}

.cabecalho__menu{
    display: flex;
    flex-direction: row;
    gap: 60px;
}

.cabecalho__menu__link{
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.cabecalho__menu__link:hover{
    scale: 1.05;
}

.apresentacao{
    padding: 3% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}
.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo{
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}

.titulo-destaque{
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto{
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}

.texto-destaque{
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}
.apresentacao__conteudo__links__subtitulo{
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__conteudo__objetivo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
}

.apresentacao__conteudo__links__link{
    border: 2px solid var(--cor-terciaria);
    border-radius: 8px;
    width: 50%;
    padding: 21.5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
}

.apresentacao__conteudo__links__link:hover{
    background-color: var(--cor-primaria-hover);
    color: var(--cor-primaria);
}

.apresentacao__conteudo__links__link i{
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__links__link:hover i{
    color: var(--cor-primaria);
}

.apresentacao__conteudo__bottons{
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
}

.apresentacao__conteudo__bottons__imagem{
    width: 18%;
    background-color: #F1C376;
    border-radius: 100%;
    padding: 1%;
}

.apresentacao__conteudo__bottons__imagem:hover{
    scale: 1.5;
}

.apresentacao__conteudo__imagem{
    width: 40%;
    border-radius: 2%;
    background-color: var(--cor-primaria);
}

.icones{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    gap: 20px;
}

.icones__bottons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.icones__bottons__imagem{
    border-radius: 25%;
}

.rodape{
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    padding: 10.5px;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
}

@media (max-width: 1600px ){
    .cabecalho{
        padding: 5%;
        border-bottom: 1px dotted var(--cor-primaria-hover);
    }

    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo{
        width: auto;
    }

    .icones{
        width: 100%;
        padding-top: 5%;
        border-top: 1px dotted var(--cor-primaria-hover);
    }

    .icones__bottons{
        gap: 5px;
    }

}

@media (max-width: 1200px ){
    .cabecalho{
        padding: 5%;
        border-bottom: 1px dotted var(--cor-primaria-hover);
    }
    
    .cabecalho__menu{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .cabecalho__menu__link{
        font-size: 1.25rem;
    }

    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo{
        width: auto;
    }

    .icones{
        width: 100%;
        justify-content: center;
        align-items: center;
        padding-top: 10%;
        border-top: 1px dotted var(--cor-primaria-hover);
    }

    .icones__bottons{
        gap: 5px;
    }

    .icones__bottons__imagem{
        width: 20%;
    }
}